*{
    /*初始化 清除页面元素的内外边距*/
    padding: 0;
    margin: 0;
    /*盒子模型*/
    box-sizing: border-box;
}
body {
    /*弹性布局 让页面元素垂直+水平居中*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*让页面始终占浏览器可视区域总高度*/
    height: 100vh;
    /*背景渐变色*/
    background: linear-gradient(#a69a79, #9fb0bd);

}
.login{
    /*弹性布局 让子元素称为弹性项目*/
    display: flex;
    /*让弹性项目垂直排列  原理是改变弹性盒子的主轴方向
    父元素就是弹性盒子  现在改变后的主轴方向是向下了*/
    flex-direction: column;
    /*让弹性项目在交叉轴方向水平居中  现在主轴的方向是向下
    交叉轴的方向是与主轴垂直 交叉轴的方向是向右*/
    align-items: center;
    width: 400px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);

}

.login h2{
    color: #fff;
    margin-bottom: 30px;
}
.login .login_box {
    /*相对定位*/
    position: relative;
    width: 100%;
}
.login .login_box input{
    /*清除input框自带的边框和轮廓*/
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    /*背景颜色为透明色*/
    background-color: transparent;
}
.login .login_box label{
    position:absolute;
    top: 0 ;
    left: 0;
    padding: 10px 0;
    color: #fff;
    /*这个属性的默认值是auto 默认是这个元素可以被点击
    但是如果我们写了none  就是这个元素不能被点击，*/
    pointer-events: none;
    /*加个过度*/
    transition: all 0.5s;
}

.login .login_box input:focus + label,
.login  .login_box input:valid + label{
    top: -20px;
    color: #03e9f4;
    font-size: 12px;
}

.login .login_submit input{
    /*overflow: hidden;*/
    position: relative;
    margin: 20px;
    padding: 10px 20px;
    color: #1eb2b7;
    /*取消a表现原有的下划线*/
    text-decoration: none;
    /*同样加个过渡*/
    transition: all 0.5s;
}
.login input[type=submit]:hover {
    color: #fff;
    border-radius: 5px;
    background-color: #4b5859;
    box-shadow: 0 0 5px #3e9093,0 0 25px #3e9093,0 0 50px #3e9093,0 0 100px #3e9093;
}
.login .login_su input{
    /*overflow: hidden;*/
    position: relative;
    margin: 0 60px;
    padding: 10px 20px;
    color: #1eb2b7;
    /*取消a表现原有的下划线*/
    text-decoration: none;
    /*同样加个过渡*/
    transition: all 0.5s;
}
.login input[type=button]:hover {
    color: #fff;
    border-radius: 5px;
    background-color: #4b5859;
    box-shadow: 0 0 5px #3e9093,0 0 25px #3e9093,0 0 50px #3e9093,0 0 100px #3e9093;
}


