a{text-decoration: none;color: #111111}
body {
    margin:0;
    padding: 0;
    background-color: antiquewhite;
}
.page{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
}
/*导航栏*/
.nav{
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
}

.nav li {
    float: left;
    height: 50px;
}
.nav .ico{
    display: block;
    width: 50px;
    padding: 5px;
    margin: 0;
    border-radius: 50px;
    text-decoration: none;
}
.nav li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
}
.nav li a:hover{
    color: #588091;
}
.nav .log{
    display: block;
    width: 40px;
    padding: 5px;
    margin: 0;
    border-radius: 50px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 60px;
}